akshare==1.8.26
altair
anyio
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
beautifulsoup4
bleach
blinker==1.4
Bottleneck
brotlipy==0.7.0
cachetools
cattrs==22.2.0
certifi
cffi
cfscrape==2.1.1
charset-normalizer
click
commonmark
cryptography
debugpy
decorator
defusedxml
entrypoints
et-xmlfile==1.1.0
exceptiongroup==1.0.4
executing
fastjsonschema
flit_core
future
gitdb
GitPython
html5lib==1.1
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonpath==0.82
jsonschema
jupyter-server
jupyter_client
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
lxml
MarkupSafe
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numexpr
numpy
openpyxl==3.0.10
packaging
pandas==1.5.2
pandocfilters
parso
pexpect
pickleshare
Pillow==9.2.0
prettytable==3.5.0
prometheus-client
prompt-toolkit
protobuf==3.20.1
psutil
ptyprocess
pure-eval
py-mini-racer==0.6.0
pyarrow==8.0.0
pycparser
pydeck
pyecharts==1.9.1
Pygments
Pympler
pyOpenSSL
pyparsing
pypinyin==0.47.1
pyrsistent
PySocks
python-dateutil
pytz
PyYAML
pyzmq
requests
requests-cache==0.9.7
rich
semver
Send2Trash
simplejson==3.18.0
six
smmap
sniffio
soupsieve
stack-data
streamlit
streamlit-echarts==0.4.0
tabulate==0.9.0
terminado
tinycss2
toml
toolz
tornado
tqdm==4.64.1
traitlets
typing_extensions
tzlocal
url-normalize==1.4.3
urllib3
validators
watchdog
wcwidth
webencodings==0.5.1
websocket-client
widgetsnbextension
xlrd==2.0.1
zipp
